.ipynb_*
.virtual_documents
.ipynb_checkpoints
venv/
classic_pytorch/
classic_tensorflow/
pennylane_qae/
play_ground/
runs/
tutorials/
qiskit_qae/beer_qiskit_v5/*
qiskit_qae/beer_torch/*
tests/beer_tests_v3_04/
tests/various_data_tests_v2_15/
tests/iccs_2024_initial_beer_qiskit_v3_00/
tests/iccs_2024_final_beer_qiskit_v3_06/beer_qiskit_v5/*
tests/iccs_2024_final_beer_torch_v3_06/beer_torch/*
